:root {
    --primary-font:"Poppins",Arial, sans-serif;
    --secondary-font:"Tektur","Poppins", Arial,sans-serif;
    --primary-color:#000000;
    --gray-lighther:#9198A7;
    --gray-darker:#565D6C;
    --rarely-color:#368A8C;
    --button-bg-color:#66368C;
}

html {
    box-sizing: border-box;
}

*, *::before,
*::after {
    box-sizing: inherit;
    font-family: var(--primary-font);
}

body {
    background-color: #ffffff;
    background-image: url("../img/intro-general-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

h1,h2,h3,h4,h5,h6,a, ul,li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
   height: auto;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;


}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    body{
        background-image: url("../img/intro-general-bg@2x.jpg");
    }
}