/*CUSTOM VARIABLES*/
:root {
    --primary-font:"Poppins",Arial, sans-serif;
    --secondary-font:"Tektur","Poppins", Arial,sans-serif;
    --primary-color:#000000;
    --gray-lighther:#9198A7;
    --gray-darker:#565D6C;
    --rarely-color:#368A8C;
    --button-bg-color:#66368C;
}


/*Global styles*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before,
*::after {
    box-sizing: inherit;
    font-family: var(--primary-font);
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;


}

h1,h2,h3,h4,h5,h6,a, ul,li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
.header-intro-container {
    background-image: url("../img/intro-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    position: relative;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;


}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.button {
    width: 292px;
    padding: 12px 32px;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    background-color: var(--button-bg-color);

}

.green-color-text {
    color: var(--rarely-color);
    font-family: var(--secondary-font);
}

.some-sections-heading {
    color: #1E242F;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 600;
    line-height: 132.5%;
}

*:focus {
    outline: 2px dashed var(--button-bg-color);
    outline-offset: 5px;
}





         /*Site-header styles*/
.site-header {
    padding-top: 18px;

}

.header-container {
    width: 100%;
    border-radius: 18px;
    border: 1px solid  #E9ECF4;
    background-color: #ffffff;
    padding: 12px 24px 12px 18px;
}

.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}












.site-logo {
    display: block;
    width: 163px;
    height: 45px;
    margin-right: 20px;
    flex-shrink: 0;
}
.site-logo_img {
    display: block;
    width: 100%;
    height: auto;

}

.sitenav-list {
    display: flex;

}
.sitenav-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sitenav-list-item:not(:last-child) {
    margin-right: 30px;
}
.sitenav-list-item:hover .sitenav-item-link {
    color: var(--rarely-color);
    font-size: 17px;
    line-height: normal;

}

.sitenav-item-link::after {
    content: "";
    transition: all 0.6s  ease;
}
.sitenav-list-item:hover .sitenav-item-link::after  {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 42px;
    bottom: 0;
    border-radius: 8px 8px 0 0;
    background-color: var(--rarely-color);

}

.sitenav-list-item:hover {
    opacity: 0.8;
}

.sitenav-list-item:active {
    opacity: 0.6;
}




.sitenav-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #000;
    font-family: var(--primary-font);
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    transition: all 0.6s ease;
}



.header-contact-us {
    color:  var(--rarely-color);
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}
.header-contact-us:active {
    opacity: 0.6;
}


      /*Site intro*/

.site-intro {
    padding-top: 70px;
    padding-bottom: 240px;

}

.intro-heading {
    width: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    position: relative;
}

.intro-heading-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
}

.intro-heading h1{
    text-align: center;
    color:  #1E242F;
    font-family:var(--secondary-font);
    font-size: 50px;
    font-weight: 600;
    line-height: 129%;
}

.intro-heading h1 span {
    color: var(--rarely-color);
    font-family: var(--secondary-font);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 129%;
}

.intro-heading-text {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.intro-heading-text p {
    text-align: center;
    width: 500px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}


.intro-heading-button {
    display: flex;
    justify-content: center;

}

.intro-heading-communication-link:hover {
    opacity: 0.8;
}



.intro-heading-communication-link:active {
    opacity: 0.6;
}


.intro-heading-communication-link span {
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 140%;
}


.intro-heading-about-video {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 220px;
    left: 755px;
    border: 0;
    cursor: pointer;
    background-color: transparent;




}
.intro-video-link-container {
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 235px;
    border-radius: 50%;


}

.intro-video-link-container span {
    text-align: center;
}


.intro-heading-about-video span {
    color: var(--gray-darker);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}





.site-intro__left-img {
    position: absolute;
    top: 215px;
    left:-100px;
}

.site-intro__right-img {
    position: absolute;
    right: -20px;
    top: 410px;
}








   /*INTRO ABOUT TEAM*/

.intro-about-team-wrapper {
    width: 100%;
    position: relative;
    top: 300px;

}

.intro-about-team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.intro-about-team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 225px;
    height: 105px;
    padding: 18px 0;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 9px 18px 0 #E5EEEE;
    transition: all 0.6s ease;
}




.intro-about-team-item:nth-child(odd) {
    transform: rotate(-2deg);

}

.intro-about-team-item:nth-child(even) {
    transform: rotate(2deg);

}




.intro-about-team-item:not(:last-child) {
    margin-right: 8.8px;
}

.intro-about-team-item strong {
    color: #1E242F;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
}

.intro-about-team-item span {
    color: var(--gray-darker);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}




/*Site main styles*/

.site-main {
    flex-grow: 1;
    padding-top: 140px;

}

/*Our services section*/
.site-main-our-services {
    display: flex;
    margin-bottom: 80px;
}
.site-main-our-services__left {
    background-image: url("../img/intro-outer-left.png");
    background-repeat: no-repeat;
    background-position: 0 100px;
    width: 50%;
    min-height: 734px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.our-services__content {
    width: 460px;
    height: 126px;
}

.our-services__content__heading {

}





.our-services_content__text {
    color: var(--gray-darker);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

/*Our services right*/
.site-main-learn-business__right {
    width: 50%;
    display: flex;
    flex-direction: column;

}
.learn-business-heading__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 573px;
    margin-bottom: 18px;
}

.learn-business-heading__wrapper img {
    cursor: pointer;
}

.learn-business-heading__title {
    color: #000;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
}

.learn-business__text {
    color: var(--gray-darker);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 30px;
}




.learn-business-application-button {
    margin-bottom: 24px;
}

.learn-business-application-button:active {
    opacity: 0.6;
}

.button-inner {
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    line-height: 140%;
}




         /*Kasb turlari*/


.learn-course-directions-list {
    display: flex;
    flex-direction: column;
    width: 573px;

}


.learn-course-direction__item {
    padding: 31.5px 0;

}

.learn-course-direction-item__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.learn-course-direction-item__inner img {
    cursor: pointer;
}

.learn-course-direction__item:first-child {
    border-top: 1px solid #C0C6D3;
}

.learn-course-direction__item:not(:last-child){
    border-bottom: 1px solid #C0C6D3;
}

.learn-course-direction__item strong {
    color: #000;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
}



/*Why do you need to select us styles*/


.main-why-we-container {
    background-image: url("../img/why-we-bg.jpg");
     min-height: 625px;
     padding-top: 60px;
    padding-bottom: 60px;
}

.main-why-we-inner {
    display: flex;
    align-items: flex-start;

}


/*Main why we left*/

.main-why-we__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 525px;

}

.why-we-left__heading {
    width: 460px;
}



/*Main why we right*/


.main-why-we__right {
    width: 50%;
    height: 525px;
}

.main-why-we-right__list {
    display: flex;
    flex-wrap: wrap;
}


.main-why-we-right-list__item {
    width: 281px;
    height: 163px;
    padding: 25px 25px 41px 18px;
    margin-bottom: 12px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 9px 18px 0 #E5EEEE;

}

.main-why-we-right-list__item:nth-child(odd) {
    margin-right: 7px;
}


.main-why-we-right-list__item:first-child {
    transform: rotate(-2deg);
}



.main-why-we-right-list__item:nth-child(2) {
    transform: rotate(2deg);
}

.main-why-we-right-list__item:nth-child(3) {
    transform: rotate(2deg);
}


.main-why-we-right-list__item:nth-child(4) {
    transform: rotate(-2deg);
}


.main-why-we-right-list__item:nth-child(5) {
    transform: rotate(-2deg);
}

.main-why-we-right-list__item:nth-child(6) {
    transform: rotate(2deg);
}



.main-why-we-right-list__item h3 {
    color: #000;
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 132.5%;
}

.main-why-we-right-list__item p {
    color: var(--gray-darker);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}



.actions-container {
    height: 695px;
    background-color: #ffffff;
}



















/*MEDIA STYLES*/

@media  only screen and (min-width: 1920px) {
    .container {
        max-width: 1260px;
        width: 100%;


    }
    .sitenav-list-item:not(:last-child) {
        margin-right: 35px;
    }

    .intro-heading-about-video {
        top: 220px;
        left: 805px;





    }

    .intro-about-team-item {
        width: 226px;
    }

    .intro-about-team-item:not(:last-child) {
        margin-right: 17px;
    }

}





















@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .header-intro-container {
        background-image: url("../img/intro-bg@2x.jpg");
    }


    .main-why-we-container {
        background-image: url("../img/why-we-bg@2x.jpg");
    }


}
